.combos {
    padding: 110px 64px;
    background-color: var(--bege-claro);
    text-align: center;
  }
  
  .combos h3 {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    margin-top: -20px;
    margin-bottom: 80px;
    color: var(--marrom-escuro);
  }
  
  /* Área da imagem + setas */
.combo-stage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 420px;
  overflow: hidden;
}


.combo-slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


  
  /* Imagem grande */
 .combo-image {
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  margin-top: -100px;

  display: block;
}

  
  /* Setas */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 108px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--marrom-madeira);
    z-index: 2;
  }
  
  .arrow.left {
    margin-top: -70px;
    left: 310px;
  }
  
  .arrow.right {
      margin-top: -70px;
    right: 310px;
  }
  
  /* Texto abaixo da imagem */
  .combo-info {
    margin-top: -20px;
  }
  
  .combo-info h4 {
    font-size: 37px;
    margin-bottom: 8px;
    color: var(--marrom-escuro);
  }
  
  .combo-info p {
    font-size: 13px;
    margin-bottom: 12px;
  }
  
  .combo-info .price {
    margin-bottom: -50px;
    font-size: 28px;
    font-weight: bold;
    color: var(--marrom-madeira);
  }
  

  /* Container do slide */
.combo-slide {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 0.35s;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

.combo-slide.right {
  animation-name: slideFromRight;
}

.combo-slide.left {
  animation-name: slideFromLeft;
}

  
  @keyframes slideFromRight {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  