.depoimentos {
  padding: 190px 0;
  background-color: var(--bege-claro);
  overflow: hidden;
  text-align: center;
}

/* Título */
.depoimentos h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 80px;
  color: var(--marrom-escuro);
  margin-top: -60px;
}

/* Área visível */
.depoimentos-wrapper {
overflow: hidden;
  width: 100%;
  position: relative;
}

/* Trilha animada */
.depoimentos-track {
  display: flex;
  width: max-content;
  will-change: transform;
}



.depoimentos-track-inner {
  display: flex;
}


/* Card */
.depoimento-card {
  display: flex;
  align-items: flex-start;
  gap: 24px;

  width: 650px;
  min-width: 280px;
  flex-shrink: 0;
  margin-right: 32px;

  background: #ffffff;
  padding: 28px;
  border-radius: 18px;
  border: 1px solid #E8B7C8;

  position: relative;

}



/* Avatar */
.avatar {
 
  margin-top: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

/* Texto */
.depoimento-texto {
  margin-top: 20px;
  text-align: left;
  padding-right: 40px; /* espaço para o nome no canto */
}


.depoimento-texto p {
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 16px;
  color: #333;
}

.nome {
  position: absolute;
  bottom: 26px;
  right: 40px;

  font-weight: bold;
  color: var(--marrom-madeira);
  font-size: 16px;
}


/* Animação correta para loop infinito */


/* Pausa ao passar o mouse (opcional, elegante) */
.depoimentos-wrapper:hover .depoimentos-track {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .depoimentos {
    padding: 120px 0;
  }

  .depoimentos h3 {
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: -60px;
  }

  .depoimento-card {
    margin-top: 40px;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .avatar {
    margin-top: 0;
  }

  .depoimento-texto {
    margin-top: 12px;
    padding-right: 0;
  }

  .nome {
    position: static;
    margin-top: 10px;
    font-size: 14px;
    
  }
}
