.destaques {
    padding: 120px 64px;
    background-color: var(--bege-claro);
  }
  
  .destaques h3 {
    font-family: 'Playfair Display', serif;
    font-size: 37px;
    margin-bottom: 60px;
    margin-top: -30px;
    color: var(--marrom-escuro);
    text-align: center; 
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 32px;
  }
  
  .card {
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }
  
.card img {
 margin-top: 10px;
  width: 100%;
  height: 300px;        /* diminui a altura */
  object-fit: contain;
  
  /* mostra a imagem inteira */
  /* cor de fundo elegante */
}

  
  .card-content {
    padding: 20px;
  }
  
  .card-content h4 {
    margin-bottom: 8px;
  }
  
  .card-content p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .price {
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--marrom-madeira);
  }
  
  .card-content button {
  padding: 10px 39px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  background: var(--rosa-suave);
  cursor: pointer;
  transition: 0.3s;
    
  }
  
.card-content button:hover {
  
    background-color: #d9a6b6; /* rosa levemente mais escuro */
    transform: translateY(2px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    
  }


  @media (max-width: 768px) {
  .destaques {
    padding: 80px 24px;
  }

  .destaques h3 {
    font-size: 28px;
    margin-bottom: 36px;
    margin-top: 0;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .card {
    max-width: 640px;
    margin: 0 auto;
  }

  .card img {
    height: 220px;
  }

  .card-content {
    text-align: center;
  }

  .card-content button {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .destaques {
    padding: 64px 18px;
  }

  .destaques h3 {
    font-size: 24px;
  }

  .card {
    max-width: 640px;
    margin: 0 auto;
  }


  .card img {
    height: 200px;
  }

  .price {
    font-size: 15px;
  }

  .card-content button {
    padding: 12px;
    font-size: 13px;
  }
}
