.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 90px;
  background-color: var(--marrom-madeira);
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;
}

/* Wrapper da logo */
.logo-wrapper {
  position: absolute;
  left: 4px;
  bottom: -47px; /* controla quanto sai do header */
  z-index: 10;
}

/* Logo */
.logo {
 
  height: 130px;
  width: auto;
  filter: drop-shadow(0 8px 18px rgba(0,0,0,0.25));
}

/* Navegação */
.nav a {
  color: var(--bege-claro);
  margin-left: 34px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block; /* necessário para o transform */
  transition: 
    color 0.25s ease,
    transform 0.25s ease;
}

.nav a:hover {
  color: #8a8883; /* tom mais escuro e elegante */
  transform: translateY(2px); /* efeito de afundar */
}

/* BOTÃO MENU MOBILE */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--bege-claro);
  font-size: 26px;
  cursor: pointer;
  margin-right: -40px;
  margin-top: 10px;
}

/* OVERLAY */
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1500;
}

/* SIDEBAR */
.menu-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background: var(--marrom-madeira);
  z-index: 1600;

  padding: 32px 20px;

  transform: translateX(100%);
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);

  display: flex;
flex-direction: column;
align-items: center;

}


.menu-sidebar.open {
  transform: translateX(0);
}

/* FECHAR */
.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
 
  background: none;
  border: none;
  color: var(--bege-claro);
  font-size: 21px;
  cursor: pointer;
}


/* NAV MOBILE */
.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  margin-top: 50px;
}


.menu-nav a {
  color: var(--bege-claro);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-nav a:hover {
  transform: translateY(2px);
  opacity: 0.85;
}



@media (max-width: 768px) {

  .header { 
    height: 60px;
  }
  .nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .logo-wrapper {
    position: absolute;
    left: -18px;
    bottom: -36px; /* controla quanto sai do header */
    z-index: 10;
  }
  
  /* Logo */
  .logo {
   
    height: 90px;
    width: auto;
  }
}
