.status {
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
}

.status.Pendente {
  background: rgba(236, 213, 3, 0.75);
  color: #fff;
}

.status.Pronto {
  background: rgba(2, 77, 189, 0.75);
  color: #fff;
}

.status.Entregue {
  background: rgba(2, 189, 111, 0.75);
  color: #fff;
}


.status.loading {
  background: #ddd;
  color: var(--rosa-suave);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
