.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  background-color: var(--marrom-madeira);
  z-index: 1000;

  display: flex;
  align-items: center;
}

/* Wrapper da logo */
.admin-logo-wrapper {
  position: absolute;
  left: 8px;
  bottom: -47px;
}

/* Logo */
.admin-logo {
  height: 130px;
  width: auto;
  filter: drop-shadow(0 8px 18px rgba(0,0,0,0.25));
}

/* MOBILE */
@media (max-width: 768px) {
  .admin-header {
    height: 60px;
  }

  .admin-logo-wrapper {
    left: -12px;
    bottom: -36px;
  }

  .admin-logo {
    height: 90px;
  }
}
