@import "./variables.css";
@import "./layout.css";
@import "./metrics.css";
@import "./orders.css";
@import "./order-row.css";
@import "./order-actions.css";
@import "./status.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bege-claro);
  color: var(--marrom-escuro);
}

button {
  font-family: inherit;
}
