:root {
  --bege-claro: #F5F1E8;
  --rosa-suave: #e3a4ba;
  --marrom-madeira: #93654d;
  --marrom-escuro: #4c372c;

  --branco: #ffffff;
  --cinza-texto: #f2f2f2;
  --sombra-card: 0 16px 30px rgba(0, 0, 0, 0.06);
}
